<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Teacher</title>
</head>
<body>
    <h1>Teachers List</h1>
    <a href="/">Back to Home</a>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Subjects</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
                <% data_teachers.forEach (row =>{%>
            <tr>
            
                <td><%= row.id%></td>
                <td><%= row.first_name%></td>
                <td><%= row.last_name%></td>
                <td><%= row.email%></td> 
                <td>    
                    <% if (row.SubjectId!==null) {%>
                        <%=row.Subject.subject_name%>
                      <%} else {%>
                        unassigned
                      <%}%>
                </td>
                <td>
                    <a href="/teacher/edit/<%=row.id%>">Edit</a>
                    <a href="/teacher/delete/<%= row.id%>">Delete</a>
                  </td>
            <% })%>

            </tr>
        </tbody>
    </table>
   
</body>
</html>